*{
    box-sizing: border-box;
}
.fig{
border: 1px solid grey;
height: 320px;
}
.fig img{
 width: 200px;
 height:180px;

}
.hd img{
    width: 100%;
}
.card-footer{
    border: none;
}
.fig1{

    height: 500px; 
}
.fig1 img{
    width: 200px;
    height:180px;
}
.card{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    border-radius: 30px;
}

.footer{
    width: 100%;
    height: 70vh;
    background-color: #565656;
    margin-top: 60px;
    padding-top: 30px;
    background-color: #565656;
}
.footerleft{
    width: 25%;
    height: 60vh;
    float: left;
}
.footerleft a{
    text-decoration: none;
    color: black;
}
.footerright a{
    text-decoration: none;
    color: black;
}
.footerright{
    width: 25%;
    height: 60vh;
    float: left;
}
.footerleft h3{
    color: white;
    margin-top: 35px;
    text-align: center;
}
.footerleft p{
    font-size: 13px;
    text-align: center;

}
.footerright h3{
    color: white;
    margin-top: 35px;
    text-align: center;
}
.footerright p{
    font-size:13px;
    text-align: center;
}
.bg2{
    background-image: url(assits/cover.jpeg);
    background-position-y: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    height: 100vh;
}
.dark2{
    width: 100%;
    height: 100vh;
    background-color: rgba(26, 25, 25, 0.888);
}
.card img{
    border-radius: 6px;
    border-style: white;
 }
 .card:hover{
     transform: scale(1.1);
 }



